/* Login Section */
.full-screen-container {
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    background-image: url(/assets/img/light-blue-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}

.login-header {
    text-align: center;
    margin: 40px 0 40px 0;
}

.login-header header {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: .3s;
}

::placeholder {
    font-weight: 500;
    color: #222;
}

.input-field:focus {
    width: 105%;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

#check {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

section a {
    color: #555;
}

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: #428eba;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    font-weight: 700;
    font-size: 1.1rem;
    color: whitesmoke;
}

.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.submit-btn:hover {
    background: grey;
    transform: scale(1.05, 1);
}

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a {
    color: #428eba;
    font-weight: 600;
}


/* Dialog Box Styling */
::ng-deep .p-dialog {
    margin: 0 2rem;
}

::ng-deep .p-dialog .p-dialog-content {
    padding: 0 2rem 2rem 2rem;
}

::ng-deep .p-dialog-header {
    padding: 1.5rem 1.5rem 0.5rem 2rem;
}

/* Label text styling */
.review-text {
    padding-bottom: 12px;
    display: block;
}

/* Buttons */
.register-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customer-button,
.provider-button {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #428eba;
}

.error-message {
    color: #ff4d4f;
    background-color: #ffe6e6;
    border: 1px solid #ff4d4f;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

/* Mobile Responsive */
@media (max-width: 768px) {
    ::ng-deep .p-dialog .p-dialog-content {
        padding: 1rem;
    }

    ::ng-deep .p-dialog-header {
        padding: 1rem;
    }
}

@media (max-width: 450px) {

    /* Dialog Content */
    ::ng-deep .p-dialog .p-dialog-content {
        padding: 0.5rem;
    }

    ::ng-deep .p-dialog-header {
        padding: 0.5rem;
    }
}

.divider {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
    width: 90%;
    align-self: center;
}