<!-- Login Section -->
<div class="full-screen-container">
  <div class="login-box">
    <div class="login-header">
      <img [src]="logoUrl" height="200px">
      <header>Login</header>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="input-box">
      <input type="text" [(ngModel)]="email" class="input-field" placeholder="Email" autocomplete="off" required>
    </div>

    <div class="input-box">
      <input type="password" [(ngModel)]="password" class="input-field" placeholder="Password" autocomplete="off"
        required (keydown.enter)="login()">
    </div>

    <div class="forgot">
      <section>
        <a (click)="showTncDialog()">Terms and Conditions</a>
      </section>
      <section>
        <a routerLink="/forgot-password">Forgot password?</a>
      </section>
    </div>

    <div class="input-submit">
      <button class="submit-btn" id="submit" (click)="login()">Sign In</button>
    </div>

    <div class="sign-up-link">
      <p>Don't have account? <a (click)="showRegisterDialog()">Register</a></p>
    </div>
  </div>
</div>

<!-- Dialogs -->
<p-dialog header="Register an account to get started!" [modal]="true" [(visible)]="registerDialogVisible"
  [style]="{ width: '40rem'}">
  <span class="review-text">
    Choose <b>Customer</b> if you’re seeking professional services for your household needs, or select <b>Service
      Provider</b> to offer your expertise and connect with potential clients.
  </span>
  <div class="register-options">
    <button pButton label="Customer" routerLink="/user-register" class="customer-button"></button>
    <div class="divider"></div>
    <button pButton label="Service Provider" routerLink="/provider-register" class="provider-button"></button>
  </div>
</p-dialog>

<p-dialog header="Login Terms and Conditions" [modal]="true" [(visible)]="tncDialogVisible" [style]="{ width: '40rem'}">
  <span class="review-text">
    <strong>Effective Date:</strong> Feb 2025<br><br>

    Welcome to SERVEASE. By accessing and using our web application, you agree to comply with the
    following terms and conditions. Please read them carefully before logging in.<br><br>

    <strong>1. Acceptance of Terms</strong><br>
    By logging into your account, you acknowledge that you have read, understood, and agree to be bound by these Terms
    and Conditions. If you do not agree with any part of these terms, please refrain from using the application.<br><br>

    <strong>2. User Responsibilities</strong><br>
    - You are responsible for maintaining the confidentiality of your login credentials and for all activities that
    occur under your account.<br>
    - You agree to provide accurate, current, and complete information during the registration and login process.<br>
    - You must notify us immediately of any unauthorized use of your account or any other breach of security.<br><br>

    <strong>3. Prohibited Activities</strong><br>
    While using our application, you agree not to:<br>
    - Engage in any unlawful activities.<br>
    - Attempt to gain unauthorized access to other accounts or the application’s systems.<br>
    - Distribute viruses or any other technologies that may harm the application.<br><br>

    <strong>4. Data Privacy</strong><br>
    Your personal information will be handled in accordance with our Privacy Policy. By logging in, you consent to the
    collection, use, and sharing of your information as described in the policy.<br><br>

    <strong>5. Account Termination</strong><br>
    We reserve the right to suspend or terminate your account if you violate these Terms and Conditions or engage in
    activities that may harm the integrity of the application.<br><br>

    <strong>6. Modifications to Terms</strong><br>
    We may update these Terms and Conditions from time to time. Any changes will be posted on this page, and your
    continued use of the application after such changes constitutes your acceptance of the new terms.<br><br>

    By clicking "Login," you acknowledge that you have read, understood, and agreed to these Terms and Conditions.
  </span>
</p-dialog>