<!-- Title Section -->
<div class="dashboard-header">
  <h1 class="dashboard-title">Service Provider Registration</h1>
  <p class="dashboard-description">Complete your business registration by providing accurate and up-to-date
    information to ensure a seamless and secure experience.</p>
</div>

<!-- Register Area -->
<div class="profile-card-container">
  <p-card class="profile-card">
    <ng-template pTemplate="header">
      <div class="header-content">
        <i class="pi pi-id-card header-icon"></i>
        <span class="header-title">Business Information</span>
      </div>
    </ng-template>
    <div class="card-content">
      <div class="info-row-container">
        <!-- Business Logo -->
        <div class="info-row">
          <label for="businessLogo">Business Logo:</label>
          <div class="error-message" *ngIf="validationErrors['businessLogo']">
            {{ validationErrors['businessLogo'] }}
          </div>
          <div class="upload-container">
            <input type="file" id="businessLogo" [(ngModel)]="providerData.businessLogo" accept="image/*"
              class="file-input" (change)="onBusinessLogoSelected($event)" required />
            <button class="upload-button" (click)="triggerBusinessLogoInput()">Upload Business Logo</button>
            <img *ngIf="businessLogoPreview" [src]="businessLogoPreview" alt="Business Logo Preview"
              class="image-preview">
          </div>
        </div>

        <!-- Business Name -->
        <div class="info-row">
          <label for="businessName">Business Name:</label>
          <input id="businessName" type="text" [(ngModel)]="providerData.fullName" placeholder="Your Business Name" />
          <div class="error-message" *ngIf="validationErrors['fullName']">
            {{ validationErrors['fullName'] }}
          </div>
        </div>

        <!-- Business Description -->
        <div class="info-row">
          <label for="description">Tell Us about your Business:</label>
          <textarea id="description" [(ngModel)]="providerData.description" rows="4" class="w-full p-inputtext"
            placeholder="Enter description here..."></textarea>
          <div class="error-message" *ngIf="validationErrors['houseAdd']">
            You need to tell us about your business.
          </div>
        </div>

        <!-- Email Address -->
        <div class="info-row">
          <label for="email">Email Address:</label>
          <input id="email" type="email" [(ngModel)]="providerData.email" placeholder="contact@business.com" />
          <div class="error-message" *ngIf="validationErrors['email']">
            {{ validationErrors['email'] }}
          </div>
        </div>

        <!-- Contact Number -->
        <div class="info-row">
          <label for="contactNumber">Contact Number:</label>
          <input id="contactNumber" type="tel" [(ngModel)]="providerData.contactNumber" placeholder="(123) 456-7890"
            pattern="[0-9]*" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
          <div class="error-message" *ngIf="validationErrors['contactNumber']">
            {{ validationErrors['contactNumber'] }}
          </div>
        </div>

        <!-- Office Address -->
        <div class="info-row">
          <label for="officeAdd">Office Address:</label>
          <input id="officeAdd" type="text" [(ngModel)]="providerData.houseAdd" placeholder="123 House Building 45" />
          <div class="error-message" *ngIf="validationErrors['houseAdd']">
            The office address field is required.
          </div>
        </div>

        <!-- Province Dropdown -->
        <div class="info-row">
          <label for="province">Province:</label>
          <select id="province" [(ngModel)]="providerData.province" (change)="onProvinceChange()"
            class="custom-dropdown" required>
            <option value="" disabled selected>Select Province</option>
            <option *ngFor="let province of provinces" [value]="province.province">{{ province.province }}</option>
          </select>
          <div class="error-message" *ngIf="validationErrors['province']">
            You should select your province.
          </div>
        </div>

        <!-- City/Municipality Dropdown -->
        <div class="info-row">
          <label for="city">City/Municipality:</label>
          <select id="city" [(ngModel)]="providerData.city" (change)="onCityChange()" class="custom-dropdown"
            [disabled]="!cities.length" required>
            <option value="" disabled selected>Select Your Province First</option>
            <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
          </select>
          <div class="error-message" *ngIf="validationErrors['city']">
            You should select your city.
          </div>
        </div>

        <!-- Barangay Dropdown -->
        <div class="info-row">
          <label for="brgy">Barangay:</label>
          <select id="brgy" [(ngModel)]="providerData.brgy" [disabled]="!barangays.length" class="custom-dropdown"
            required>
            <option value="" disabled selected>Select your City/Municipality First</option>
            <option *ngFor="let brgy of barangays" [value]="brgy">{{ brgy }}</option>
          </select>
          <div class="error-message" *ngIf="validationErrors['brgy']">
            You should select your barangay.
          </div>
        </div>

        <!-- Business Registration Number (BRN) -->
        <div class="info-row">
          <label for="brn">Business Registration Number (BRN):</label>
          <input id="brn" type="text" [(ngModel)]="providerData.brn" placeholder="BRN-12345" />
          <div class="error-message" *ngIf="validationErrors['brn']">
            The business registration number is required.
          </div>
        </div>

        <!-- Contact Person -->
        <div class="info-row">
          <label for="contactPerson">Contact Person:</label>
          <input id="contactPerson" type="text" [(ngModel)]="providerData.contactPerson" placeholder="John Doe" />
          <div class="error-message" *ngIf="validationErrors['contactPerson']">
            You need to provide a contact person.
          </div>
        </div>

        <!-- Contact Person ID -->
        <div class="info-row">
          <label for="personID">Contact Person - Identification Card (ID):</label>
          <div class="error-message" *ngIf="validationErrors['personID']">
            {{ validationErrors['personID'] }}
          </div>
          <div class="upload-container">
            <input type="file" id="personID" [(ngModel)]="providerData.personID" accept="image/*" class="file-input"
              (change)="onPersonIDSelected($event)" required />
            <button class="upload-button" (click)="triggerPersonIDInput()">Upload ID</button>
            <img *ngIf="personIDPreview" [src]="personIDPreview" alt="ID Preview" class="image-preview">
          </div>
        </div>

        <!-- Service Type (Dropdown) -->
        <div class="info-row">
          <label for="serviceType">Service Type:</label>
          <select id="serviceType" [(ngModel)]="providerData.serviceType" class="custom-dropdown">
            <option [ngValue]="null" disabled>Select a Service Type</option>
            <option *ngFor="let category of serviceCategories" [ngValue]="category.category_id">
              {{ category.category_name }}
            </option>
          </select>
          <div class="error-message" *ngIf="validationErrors['serviceType']">
            You should select your main service type.
          </div>
        </div>

        <!-- Password -->
        <div class="info-row">
          <label for="password">Password:</label>
          <input id="password" type="password" [(ngModel)]="providerData.password" />
        </div>

        <!-- Confirm Password -->
        <div class="info-row">
          <label for="confirm-password">Confirm Password:</label>
          <input id="confirm-password" type="password" [(ngModel)]="providerData.password_confirmation" />
        </div>

        <!-- Terms and Conditions -->
        <div class="info-row-terms terms-row">
          <label for="terms" class="terms-label">
            <input type="checkbox" id="terms" [(ngModel)]="providerData.acceptTerms" />
            By proceeding, you confirm that you have read, understood, and agree to abide by the
            <a (click)="tncDialogVisible = true" class="terms-condi">Terms and Conditions</a>.
          </label>
        </div>
        <div class="info-row-terms terms-row">
          <label for="verification" class="terms-label">
            <input type="checkbox" id="verification" [(ngModel)]="providerData.acceptVerification" />
            I understand that after submitting my registration, my application will undergo a verification
            process. I will not be able to log in until my profile has been successfully verified.
          </label>
        </div>
      </div>
    </div>
  </p-card>

  <!-- Buttons Outside the Card -->
  <div class="button-container" style="text-align: center; margin-top: 10px;">
    <button pButton type="button" label="Register" class="buttons-below" (click)="registerProvider()"></button>
  </div>
</div>

<!-- Dialog displaying Terms and Conditions -->
<p-dialog header="Terms and Conditions" [modal]="true" [(visible)]="tncDialogVisible" [style]="{ width: '40rem' }">
  <div class="terms-content">
    <p>By registering as a provider on SERVEASE, you agree to comply with the following terms and
      conditions:</p>
    <br>
    <p>(1) All information provided during registration must be accurate, complete, and up to date. Providing false
      or misleading details may result in the account not being approved.</p>
    <p>(2) You are responsible for maintaining the confidentiality of your account credentials.</p>
    <p>(3) Any unauthorized access or suspicious activity must be reported to SERVEASE immediately.
    </p>
    <p>(4) Providers are expected to deliver services professionally, adhering to ethical and industry standards.
    </p>
    <p>(5) Misrepresentation, fraudulent activities, or failure to meet client expectations may lead to warnings,
      suspension, or permanent removal from the platform.</p>
    <p>(6) SERVEASE acts solely as a connecting platform and is not responsible for disputes
      between providers and clients.</p>
    <p>(7) Providers assume full responsibility for the services they offer, including pricing, client
      communication, and dispute resolution.</p>
    <p>(8) Providers must adhere to data protection laws and respect client privacy.</p>
    <p>(9) SERVEASE reserves the right to review provider accounts to ensure compliance with
      platform policies.</p>
    <p>(10) These terms may be updated periodically, and continued use of the platform signifies acceptance of any
      modifications.</p>
    <br>
    <p><strong>By registering, you confirm that you have read, understood, and agreed to these Terms and
        Conditions.</strong></p>
  </div>
</p-dialog>