<body>
    <!-- Header Section: A short message to welcome the user -->
    <div class="header-message">
        <p>Deleted Service Categories</p>
    </div>

    <!-- Search Bar and Button -->
    <div class="search-add-container">
        <input type="text" class="search-bar" [(ngModel)]="searchQuery"
            placeholder="Search for a deleted service category..." />
    </div>

    <!-- Cards Container for Service Categories -->
    <div class="cards-container">
        <div class="custom-card" *ngFor="let category of filteredCategories">
            <div class="card-row">
                <div class="number-container">
                    <h2>{{ category.category_name }}</h2>
                </div>
                <div class="icon-container">
                    <i class="pi pi-trash"></i>
                </div>
            </div>
            <div class="card-row">
                <div class="description-container">
                    <p>{{ category.category_description }}</p>
                </div>
            </div>
            <div class="button-row">
                <button class="edit-button" (click)="restoreCategory(category.category_id)">Restore</button>
            </div>
        </div>
    </div>


</body>