/* Dialog Box Styling */
::ng-deep .p-dialog {
    margin: 0 2rem;
}

::ng-deep .p-dialog .p-dialog-content {
    padding: 0 2rem 2rem 2rem;
}

::ng-deep .p-dialog-header {
    padding: 1.5rem 1.5rem 0.5rem 2rem;
}

/* Label text styling */
.review-text {
    padding-bottom: 12px;
    display: block;
}

/* Buttons */
.register-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customer-button,
.provider-button {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #428eba;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    ::ng-deep .p-dialog .p-dialog-content {
        padding: 1rem;
    }

    ::ng-deep .p-dialog-header {
        padding: 1rem;
    }
}

@media (max-width: 450px) {

    /* Dialog Content */
    ::ng-deep .p-dialog .p-dialog-content {
        padding: 0.5rem;
    }

    ::ng-deep .p-dialog-header {
        padding: 0.5rem;
    }
}

.divider {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
    width: 90%;
    align-self: center;
}

/* Title Section */
.dashboard-header {
    text-align: center;
    margin: 40px 20px 5px 20px;
}

.dashboard-title {
    font-size: 36px;
    color: #333;
}

.dashboard-description {
    font-size: 16px;
    color: #888;
    margin-top: 10px;
}

@media(max-width: 450px) {
    .dashboard-description {
        font-size: 13px;
    }
}

/* Providers List Section */
.providers-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.columns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.column {
    display: flex;
    justify-content: center;
}

.provider-card {
    background-color: #f4f8fb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.provider-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.business-logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
    align-self: center;
}

.provider-info {
    text-align: center;
    flex-grow: 1;
}

.business-name {
    font-size: 1.2rem;
    /* Base font size */
    font-weight: bold;
    margin-bottom: 10px;
}

.rating {
    font-size: 1rem;
    background-color: #f39c12;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 50%;
    display: inline-block;
    text-align: center;
}

.rating-number {
    font-size: 1rem;
    font-weight: bold;
}

.business-location {
    font-size: 1rem;
    color: #7f8c8d;
    margin-bottom: 10px;
}

.business-description {
    font-size: 1rem;
    color: #7f8c8d;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.book-now-btn {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.book-now-btn:hover {
    background-color: #3498db;
}

/* Responsive Font Sizes */
@media (max-width: 1200px) {
    .columns {
        grid-template-columns: repeat(4, 1fr);
    }

    .business-name {
        font-size: 1.2rem;
    }

    .rating,
    .rating-number {
        font-size: 1rem;
    }

    .business-location,
    .business-description {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .columns {
        grid-template-columns: repeat(3, 1fr);
    }

    .business-name {
        font-size: 1.2rem;
    }

    .rating,
    .rating-number {
        font-size: 1rem;
    }

    .business-location,
    .business-description {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .business-name {
        font-size: 1.2rem;
    }

    .rating,
    .rating-number {
        font-size: 0.9rem;
    }

    .business-location,
    .business-description {
        font-size: 0.9rem;
    }
}

@media (max-width: 450px) {
    .columns {
        grid-template-columns: 1fr;
    }

    .business-name {
        font-size: 1.2rem;
    }

    .rating,
    .rating-number {
        font-size: 0.9rem;
    }

    .business-location,
    .business-description {
        font-size: 0.9rem;
    }

    .provider-card {
        max-width: 100%;
    }
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 15px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}


.search-bar {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
    outline: none;
}

.filter-dropdown {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    min-width: 250px;
    cursor: pointer;
    transition: border-color 0.3s;
}

.filter-dropdown:focus {
    border-color: #4a90e2;
    outline: none;
}

/* For responsiveness on mobile devices */
@media (max-width: 576px) {
    .search-filter-container {
        flex-direction: column;
    }

    .search-bar,
    .filter-dropdown {
        width: 100%;
    }
}