<!-- Title Section -->
<div class="dashboard-header">
    <h1 class="dashboard-title">{{categoryName}}</h1>
    <p class="dashboard-description">{{categoryDescription}}</p>
</div>

<!-- Search and Filter Section -->
<div class="search-filter-container">
    <input type="text" placeholder="Search providers..." [(ngModel)]="searchQuery" (input)="filterProviders()"
        class="search-bar">

    <select [(ngModel)]="selectedFilter" (change)="sortProviders()" class="filter-dropdown">
        <option value="">Sort By</option>
        <option value="az">A to Z</option>
        <option value="za">Z to A</option>
        <option value="highestRating">Highest Rating</option>
        <option value="lowestRating">Lowest Rating</option>
    </select>
</div>

<!-- Providers List Section -->
<div class="providers-list">
    <div class="columns">
        <div class="column" *ngFor="let provider of filteredProviders">
            <div class="provider-card">
                <img [src]="provider.logo" alt="Business Logo" class="business-logo">
                <div class="provider-info">
                    <h3 class="business-name">{{ provider.businessName }}</h3>
                    <div class="rating">
                        <span class="star">&#9733;</span>
                        <span class="rating-number">{{ provider.rating }}/5</span>
                    </div>
                    <p class="business-location"><i class="pi pi-map-marker"></i> {{ provider.location }}</p>
                    <button class="book-now-btn" [routerLink]="['/user/book-service', provider.provider_id]">Book
                        Now</button>
                </div>
            </div>
        </div>
    </div>
</div>