<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <img class="logo-img" src="assets/img/logo-servease.png" alt="Logo" />
        </button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">
            SERVEASE
        </div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fas fa-times close-icon"></i>
        </button>
    </div>

    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <!-- ✅ Handle Logout Button Separately -->
            <a class="sidenav-nav-link" *ngIf="data.action !== 'logout'; else logoutTemplate"
                [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{ data.label }}</span>
            </a>

            <!-- ✅ Template for Logout Action -->
            <ng-template #logoutTemplate>
                <a class="sidenav-nav-link" (click)="logout()">
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{ data.label }}</span>
                </a>
            </ng-template>
        </li>
    </ul>
</div>