<div class="forgot-password-section">
    <div class="forgot-password-card">
        <div class="back-button-container">
            <button class="back-to-login-btn" (click)="navigateToLogin()"><i class="pi pi-arrow-left"></i></button>
        </div>
        <h2>Forgot Your Password?</h2>
        <p>
            Enter your registered email address below, and we will send you a verification code to reset your password.
        </p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">
            <input type="email" formControlName="email" placeholder="Enter email" class="email-input" />
            <button type="submit" class="send-code-btn" [disabled]="isLoading">
                {{ isLoading ? 'Sending...' : 'Send Reset Link' }}
            </button>
        </form>
    </div>
</div>