<!-- Profile Details Title Section -->
<div class="dashboard-header">
    <h1 class="dashboard-title">User Registration</h1>
    <p class="dashboard-description">
        Complete your user registration by filling out the required details. Provide accurate information to ensure a
        seamless
        and secure experience.
    </p>
</div>

<!-- Register Area -->
<div class="profile-card-container">
    <p-card class="profile-card">
        <ng-template pTemplate="header">
            <div class="header-content">
                <i class="pi pi-id-card header-icon"></i>
                <span class="header-title">Personal Information</span>
            </div>
        </ng-template>
        <div class="card-content">
            <div class="info-row-container">
                <!-- Profile Photo -->
                <div class="info-row">
                    <label for="profile">Profile Photo:</label>
                    <div class="error-message" *ngIf="validationErrors['profile']">
                        {{ validationErrors['profile'] }}
                    </div>
                    <div class="upload-container">
                        <input type="file" id="profile" accept="image/*" class="file-input"
                            (change)="onProfileSelected($event)" />
                        <button class="upload-button" (click)="triggerProfileInput()">Upload Profile Photo</button>
                        <img *ngIf="photoPreview" [src]="photoPreview" alt="Profile Preview" class="image-preview" />
                    </div>
                </div>

                <!-- Full Name -->
                <div class="info-row">
                    <label for="fullName">Full Name:</label>
                    <input id="fullName" type="text" [(ngModel)]="formData.fullName" placeholder="Juan Dela Cruz"
                        required />
                    <div class="error-message" *ngIf="validationErrors['fullName']">
                        {{ validationErrors['fullName'] }}
                    </div>
                </div>

                <!-- Email Address -->
                <div class="info-row">
                    <label for="email">Email Address:</label>
                    <input id="email" type="email" [(ngModel)]="formData.email" placeholder="sample@mail.com"
                        required />
                    <div class="error-message" *ngIf="validationErrors['email']">
                        {{ validationErrors['email'] }}
                    </div>
                </div>

                <!-- Contact Number -->
                <div class="info-row">
                    <label for="contactNumber">Contact Number:</label>
                    <input id="contactNumber" type="tel" [(ngModel)]="formData.contactNumber" required
                        placeholder="(123) 456-7890" pattern="[0-9]*" inputmode="numeric"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    <div class="error-message" *ngIf="validationErrors['contactNumber']">
                        {{ validationErrors['contactNumber'] }}
                    </div>
                </div>

                <!-- Address Fields -->
                <div class="info-row">
                    <label for="houseAdd">House and Street Address:</label>
                    <input id="houseAdd" type="text" [(ngModel)]="formData.houseAdd" placeholder="124 House" required />
                    <div class="error-message" *ngIf="validationErrors['houseAdd']">
                        {{ validationErrors['houseAdd'] }}
                    </div>
                </div>

                <div class="info-row">
                    <label for="province">Province:</label>
                    <select id="province" [(ngModel)]="formData.province" (change)="onProvinceChange()"
                        class="custom-dropdown" required>
                        <option value="" disabled selected>Select Province</option>
                        <option *ngFor="let province of provinces" [value]="province.province">{{ province.province }}
                        </option>
                    </select>
                    <div class="error-message" *ngIf="validationErrors['province']">
                        {{ validationErrors['province'] }}
                    </div>
                </div>

                <div class="info-row">
                    <label for="city">City/Municipality:</label>
                    <select id="city" [(ngModel)]="formData.city" (change)="onCityChange()" class="custom-dropdown"
                        [disabled]="!cities.length" required>
                        <option value="" disabled selected>Select Your Province First</option>
                        <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                    </select>
                    <div class="error-message" *ngIf="validationErrors['city']">
                        {{ validationErrors['city'] }}
                    </div>
                </div>

                <div class="info-row">
                    <label for="brgy">Barangay:</label>
                    <select id="brgy" [(ngModel)]="formData.brgy" [disabled]="!barangays.length" class="custom-dropdown"
                        required>
                        <option value="" disabled selected>Select Your City/Municipality First</option>
                        <option *ngFor="let brgy of barangays" [value]="brgy">{{ brgy }}</option>
                    </select>
                    <div class="error-message" *ngIf="validationErrors['brgy']">
                        {{ validationErrors['brgy'] }}
                    </div>
                </div>

                <!-- Password Field -->
                <div class="info-row" style="position: relative;">
                    <label for="password">Password:</label>
                    <input id="password" [type]="isPasswordVisible ? 'text' : 'password'"
                        [(ngModel)]="formData.password" required class="input-field" />
                    <!-- Show/Hide Password Icon -->
                    <i class="toggle-password-icon" [ngClass]="isPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'"
                        (click)="togglePasswordVisibility()"></i>
                </div>

                <!-- Confirm Password Field -->
                <div class="info-row" style="position: relative;">
                    <label for="confirm-password">Confirm Password:</label>
                    <input id="confirm-password" [type]="isConfirmPasswordVisible ? 'text' : 'password'"
                        [(ngModel)]="formData.confirmPassword" required class="input-field" />
                    <!-- Show/Hide Confirm Password Icon -->
                    <i class="toggle-password-icon"
                        [ngClass]="isConfirmPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'"
                        (click)="toggleConfirmPasswordVisibility()"></i>
                </div>


                <!-- Terms and Conditions -->
                <div class="info-row-terms terms-row">
                    <label for="terms" class="terms-label">
                        <input type="checkbox" id="terms" [(ngModel)]="formData.acceptTerms" />
                        By proceeding, you confirm that you have read, understood, and agree to abide by the
                        <a (click)="tncDialogVisible = true" class="terms-condi">Terms and Conditions</a>.
                    </label>
                </div>
            </div>
        </div>
    </p-card>

    <!-- Buttons Outside the Card -->
    <div class="button-container" style="text-align: center; margin-top: 10px;">
        <button pButton type="button" label="Register" class="buttons-below" (click)="registerUser()"></button>
    </div>
</div>

<!-- Dialog displaying Terms and Conditions -->
<p-dialog header="Terms and Conditions" [modal]="true" [(visible)]="tncDialogVisible" [style]="{ width: '40rem' }">
    <div class="terms-content">
        <p>By accessing or using SERVEASE as a user, you agree to comply with the following terms and conditions:
        </p>
        <br>
        <p>(1) You are responsible for maintaining the confidentiality of your account credentials.
        </p>
        <p>(2) Users can browse available services and book appointments through the platform.
        </p>
        <p>(3) Users agree that any disputes arising from the services provided will be handled directly with the
            provider, and SERVEASE will not be held liable for such disputes.
        </p>
        <p>(4) By using the platform, you consent to the collection and use of your personal data in accordance with the
            Privacy Policy.
        </p>
        <p>(5) SERVEASE reserves the right to update or modify these terms at any time.
        </p>
        <p>(6) SERVEASE may suspend or terminate your account if you violate these terms or engage in conduct that
            negatively impacts the platform or its users
        </p>

        <br>
        <p><strong>By registering or using the platform, you confirm that you have read, understood, and agreed to these
                Terms and Conditions.
            </strong></p>
    </div>
</p-dialog>