<div class="reset-password-section">
    <div class="reset-password-card">
        <h2>Reset Your Password</h2>
        <p>Enter a new password for your account.</p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <input type="hidden" formControlName="token" />
            <input type="hidden" formControlName="email" />
        
            <input type="password" formControlName="password" placeholder="New Password" class="email-input" />
            <p *ngIf="resetPasswordForm.get('password')?.hasError('minlength')" style="color: red; font-size: 14px;">
                Password must be at least 8 characters long.
            </p>
        
            <input type="password" formControlName="password_confirmation" placeholder="Confirm Password" class="email-input" />
            <p *ngIf="resetPasswordForm.hasError('notMatching')">
                Passwords do not match.
            </p>
        
            <button type="submit" class="send-code-btn" [disabled]="isLoading">
                {{ isLoading ? 'Resetting...' : 'Reset Password' }}
            </button>
        </form>
        
    </div>
</div>
