<!-- Dashboard Title Section -->
<div class="dashboard-header">
    <h1 class="dashboard-title">Dashboard</h1>
    <p class="dashboard-description">This is your overview of all activities and transactions.</p>
  </div>

<!-- Dashboard Content -->
<div class="dashboard">
    <div class="dashboard-container">
        <div class="column">
            <div class="card">
                <div class="card-icon">
                    <i class="pi pi-hourglass"></i>
                </div>
                <h3>5</h3>
                <p>Pending Bookings</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-icon">
                    <i class="pi pi-calendar"></i>
                </div>
                <h3>3</h3>
                <p>Scheduled Bookings</p>
            </div>
        </div>
    </div>
    <div class="dashboard-container">
        <div class="column">
            <div class="card">
                <div class="card-icon">
                    <i class="pi pi-star"></i>
                </div>
                <h3>2</h3>
                <p>Customers to Rate</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-icon">
                    <i class="pi pi-check-square"></i>
                </div>
                <h3>8</h3>
                <p>Completed Transactions</p>
            </div>
        </div>
    </div>
</div>


