/* Dashboard Styles */
.dashboard {
    padding: 20px;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
}

.column {
    width: 48%;
}

.card {
    background-color: #d2e9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: #b8dbf1;
}

.card h3 {
    font-size: 50px;
    font-weight: bold;
    color: #428eba;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.card-icon {
    margin-bottom: 15px;
    margin-top: 10px;
}

.card-icon i {
    color: #428eba;
    font-size: 2rem;
}

/* Mobile responsiveness */
@media(max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
}

/* Dashboard Title Section */
.dashboard-header {
    text-align: center;
    margin: 40px 20px 5px 20px;
}

.dashboard-title {
    font-size: 36px;
    color: #333;
}

.dashboard-description {
    font-size: 16px;
    color: #888;
    margin-top: 10px;
}