<!-- NAVIGATION BAR SECTION -->
<nav>
    <input type="checkbox" id="sidebar-active">
    <label for="sidebar-active" class="open-sidebar-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg>
    </label>
    <label id="overlay" for="sidebar-active"></label>
    <div class="links-container">
        <label for="sidebar-active" class="close-sidebar-button">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
                <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
            </svg>
        </label>

        <a class="home-link" routerLink="/provider/provider-dashboard">LOGO GOES HERE</a>
        <a routerLink="/provider/provider-dashboard">Dashboard</a>
        <a routerLink="/provider/provider-services">My Offered Services</a>
        <a routerLink="/provider/provider-transactions">My Transactions</a>

        <!-- Dropdown for My Transactions -->
        <div class="dropdown">
            <input type="checkbox" id="dropdown-active" class="dropdown-checkbox">
            <label for="dropdown-active" class="dropdown-toggle">
                Hello, Name Here!
                <svg xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 0 24 24" fill="none" stroke="white"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </label>
            <div class="dropdown-menu">
                <a routerLink="/provider/provider-details">Profile Details</a>
                <a routerLink="/provider/generate-report">Generate Report</a>
                <a (click)="logout()">Logout</a>
            </div>
        </div>



    </div>
</nav>